* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Comic Sans MS', 'Comic Sans';
}
html {
	overflow: hidden;
	scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.button {
	border-radius: 15px;
	text-transform: uppercase;
	padding: 15px;
	width: 235px;
	font-size: 20px;
	line-height: 120%;
}
#final button {
	width: 245px;
}
a.active {
	position: relative;
	bottom: 15px;
}
a.active svg {
	box-shadow: 0px 10px 10px 0 #fada5e;
}
a.active:last-child svg {
	box-shadow: 0px 10px 10px 0 #77bbff;
}
@media only screen and (max-width: 600px) {
	.button {
		width: 140px;
		font-size: 15px;
	}
}
